*, *:before, *:after {
  box-sizing: border-box;
  font-family: 'Lobster Two', cursive;
  letter-spacing: 0.05em;
}

.app-home {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: red;
  margin: 0; 
}

.homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 1em black;
  border-radius: 0.5em;
  padding: 1em;
  width: 60em;
  height: 100%;
  background-color: #fffff6;
}

h1 {
  display: flex;
  justify-content: center;
  padding: 0.7em;
  background-color: #fffff6;
  border: solid 0.2em black;
  border-radius: 1em;
  width: 12em;
  font-size: 3em;
}

h4 {
  display: flex;
  justify-content: center;
  font-size: 1.2em;
}

.pizza-link-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pizza-btn {
  display: flex;
  justify-content: center;
  background-color: red;
  border: solid 0.2em black;
  border-radius: 1em;
  padding: 0.5em;
  width: 10em;
}

#order-pizza {
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: #fffff6; 
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

#order-pizza:visited {
  color:#fffff6;
}

label {
  font-weight: bold;
  margin: 1em;
  width: 100%;
}

input {
  padding: 1em;
  margin: 1em;
  width: 100%;
}

.toppings {
  font-weight: bold;
  padding: 1em;
}

.toppings input {
  padding: 0;
  margin: 0;
  width: auto;
}

.spacer {
  margin: 1em;
}

select {
  width: 100%;
  padding: 1em;
  margin: 1em;
}

textarea {
  width: 100%;
  margin: 1em;
}

#order-button {
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border: solid 0.1em black;
  border-radius: 1em;
  text-decoration: none;
  width: 100%;
}

#order-button:hover {
  cursor: pointer;
}

.form-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-btn {
  display: flex;
  justify-content: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.4em;
  color: black;
  border: solid 0.2em black;
  border-radius: 0.5em;
  background-color: #fffff6;
  width: 5em;
}

.options {
  background-color: #fffff6;
  border: solid 0.2em black;
  border-radius: 0.5em;
  padding: 0 1em 0 1em;
  margin: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 14em;
  font-size: 1.1em;
}

.options h3 {
  text-decoration: underline;
}

.pizza-image {
  margin-top: 1em;
  width: 25em;
  height: 25em;
  border: solid 0.5em black;
  border-radius: 0.5em;
}

.con-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}